<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>My Calculator</title>
</head>
<body>
	<form action="#" th:action="@{/calculator}" th:object="${calculator}" method="post">
    	<p>Num1: <input type="number" th:field="*{num1}" step=any/></p>
    		<select th:field="*{operation}">
        		<option th:value="'SUM'" >+</option>
        		<option th:value="'SUB'" >-</option>
        		<option th:value="'MUL'" >*</option>
        		<option th:value="'DIV'" >/</option>	
    		</select>
    	<p>Num2: <input type="number" th:field="*{num2}" step=any/></p>
    	<p th:text="'result: ' + ${calculator.result}" />
    	<p><input type="submit" value="Submit" /></p>
	</form>
</body>
</html>